section.advantages
    h2.advantages__title &Pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;
    ul.advantages__list.wrap
      li.advantages__item
        .advantages__img
          svg.advantages__svg
            use(xlink:href='img/symbol/sprite.svg#leaf')
        p.advantages__subtitle Clean Design
        p.advantages__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
      li.advantages__item
        .advantages__img
          svg.advantages__svg
            use(xlink:href='img/symbol/sprite.svg#badge')
        p.advantages__subtitle Branding
        p.advantages__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
      li.advantages__item
        .advantages__img
          svg.advantages__svg
            use(xlink:href='img/symbol/sprite.svg#smartphone')
        p.advantages__subtitle Responsive
        p.advantages__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
      li.advantages__item
        .advantages__img
          svg.advantages__svg
            use(xlink:href='img/symbol/sprite.svg#settings-work-tool')
        p.advantages__subtitle Development
        p.advantages__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.