section.banner
    .banner__wrap.wrap
      .banner__info
        h1.banner__title
          | Smart Moves 
          span.banner__little
            | of 
            span.banner__red Successful
            |  Business
        p.banner__text
          | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
        button.banner__button Buy This Now
        button.banner__button.banner__button--last Live Preview