section.blog
    h2.blog__subtitle Latest posts
    ul.blog__list.wrap
      li.blog__element.blog__element--eight
        .blog__info
          a.blog__link(aria-label='Категория изображений' href='#')
            svg
              use(xlink:href='img/symbol/sprite.svg#image')
          .blog__information
            a.blog__title(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            p.blog__description
              | 04 February 2015, Posted by 
              span Admin
              | , Comments: 
              span 26
      li.blog__element.blog__element--four
        .blog__info
          .blog__information
            p.blog__title Latest Blog Posts
            p.blog__text
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum nobis videntur parum.
      li.blog__element.blog__element--five
        .blog__info
          a.blog__link(aria-label='Категория фото' href='#')
            svg
              use(xlink:href='img/symbol/sprite.svg#photo-camera')
          .blog__information
            a.blog__title(href='#') Nam liber tempor cum soluta
            p.blog__description
              | 04 February 2015, Posted by 
              span Admin
              | , Comments: 
              span 26
      li.blog__element.blog__element--three
        .blog__info
          a.blog__link(aria-label='Категория видео' href='#')
            svg
              use(xlink:href='img/symbol/sprite.svg#video')
          .blog__information
            a.blog__title(href='#') Duis autem vel eum iriure
            p.blog__description
              | 04 February 2015, Posted by 
              span Admin
              | , Comments: 
              span 26
      li.blog__element.blog__element--four
        .blog__info
          a.blog__link(href='#')
            svg
              use(xlink:href='img/symbol/sprite.svg#photo-camera')
          .blog__information
            a.blog__title(href='#') Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
            p.blog__description
              | 04 February 2015, Posted by 
              span Admin
              | , Comments: 
              span 26