section.clients
    .clients__wrap.wrap
      h2.clients__title Our Happy Clients
      p.clients__text
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.
      .clients__carousel.carousel.owl-carousel.owl-theme
        .carousel__item
          img(src='img/client1.png' alt='Клиент 1')
        .carousel__item
          img(src='img/client2.png' alt='Клиент 2')
        .carousel__item
          img(src='img/client3.png' alt='Клиент 3')
        .carousel__item
          img(src='img/client4.png' alt='Клиент 4')
        .carousel__item
          img(src='img/client5.png' alt='Клиент 5')
        .carousel__item
          img(src='img/client4.png' alt='Клиент 4')
        .carousel__item
          img(src='img/client5.png' alt='Клиент 5')