footer.footer
    ul.menu.wrap.footer__menu
      li.menu__element
        a.menu__link(href='#') Home
      li.menu__element
        a.menu__link(href='#') Features
      li.menu__element
        a.menu__link(href='#') Portfolio
      li.menu__element
        a.menu__link(href='#') Skills
      li.menu__element
        a.menu__link(href='#') Blog
      li.menu__element
        a.menu__link(href='#') Clients
      li.menu__element
        a.menu__link(href='#') Contacts
    p &copy; Copyright 2020