header.header
    .wrap.header__wrap
      a.header__logo(href='#')
        img(src='img/logo.png' alt='Логотип')
      nav
        ul.menu.header__menu
          li.menu__element
            a.menu__link(href='#') Home
          li.menu__element
            a.menu__link(href='#') Features
          li.menu__element
            a.menu__link(href='#') Portfolio
          li.menu__element
            a.menu__link(href='#') Skills
          li.menu__element
            a.menu__link(href='#') Blog
          li.menu__element
            a.menu__link(href='#') Clients
          li.menu__element
            a.menu__link(href='#') Contacts