section.responsive
    .responsive__wrap.wrap
      .responsive__information
        h2.responsive__title Fully Responsive Design Ready
        p.responsive__text
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.
        ul.responsive__list.list
          li.list__element Claritas est etiam processus dynamicus.
          li.list__element Mirum est notare quam littera gothica, quam.
          li.list__element Nam liber tempor cum soluta.
          li.list__element Duis autem vel eum iriure dolor in hendrerit.
          li.list__element Typi non habent claritatem insitam.
        button.responsive__button Buy This Now