section.skills
    .skills__wrap.wrap
      .skills__left
        h2.skills__title Our Skills
        p.skills__text
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        button.skills__button Our Services
      .skills__right
        .progress.skills__progress
          p.progress__name Photoshop
          .progress__element(data-progress-percent='95')
            .progress__line
              span.progress__tooltip 95%
        .progress.skills__progress
          p.progress__name WordPress
          .progress__element(data-progress-percent='50')
            .progress__line
              span.progress__tooltip 50%
        .progress.skills__progress
          p.progress__name eCommerce
          .progress__element(data-progress-percent='72')
            .progress__line
              span.progress__tooltip 72%
        .progress.skills__progress
          p.progress__name Photography
          .progress__element(data-progress-percent='36')
            .progress__line
              span.progress__tooltip 36%