section.works
    h2.works__title-hide Our Work
    ul.works__list.wrap
      li.works__element.works__element--three
        p.works__title See Our Recent Work
        p.works__text
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.
      li.works__element.works__element--six
        .works__info
          p.works__name Claritas Est Processus
          p.works__description Graphic Designer, Photoshop
          .works__btns
            button.works__zoom(aria-label='Увеличить работу')
              svg
                use(xlink:href='img/symbol/sprite.svg#search')
            a.works__link(aria-label='Посмотреть работу' href='#')
              svg
                use(xlink:href='img/symbol/sprite.svg#link')
      li.works__element.works__element--three
        .works__info
          p.works__name Claritas Est Processus
          p.works__description Graphic Designer, Photoshop
          .works__btns
            button.works__zoom(aria-label='Увеличить работу')
              svg
                use(xlink:href='img/symbol/sprite.svg#search')
            a.works__link(aria-label='Посмотреть работу' href='#')
              svg
                use(xlink:href='img/symbol/sprite.svg#link')
      li.works__element.works__element--three
        .works__info
          p.works__name Claritas Est Processus
          p.works__description Graphic Designer, Photoshop
          .works__btns
            button.works__zoom(aria-label='Увеличить работу')
              svg
                use(xlink:href='img/symbol/sprite.svg#search')
            a.works__link(aria-label='Посмотреть работу' href='#')
              svg
                use(xlink:href='img/symbol/sprite.svg#link')
      li.works__element.works__element--five
        .works__info
          p.works__name Claritas Est Processus
          p.works__description Graphic Designer, Photoshop
          .works__btns
            button.works__zoom(aria-label='Увеличить работу')
              svg
                use(xlink:href='img/symbol/sprite.svg#search')
            a.works__link(aria-label='Посмотреть работу' href='#')
              svg
                use(xlink:href='img/symbol/sprite.svg#link')
      li.works__element.works__element--four
        .works__info
          p.works__name Claritas Est Processus
          p.works__description Graphic Designer, Photoshop
          .works__btns
            button.works__zoom(aria-label='Увеличить работу')
              svg
                use(xlink:href='img/symbol/sprite.svg#search')
            a.works__link(aria-label='Посмотреть работу' href='#')
              svg
                use(xlink:href='img/symbol/sprite.svg#link')