<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Exe
		link(rel="stylesheet", href="css/style.css")
	body

		.container
		include ./../sections/_header.pug
		include ./../sections/_banner.pug
		include ./../sections/_advantages.pug
		include ./../sections/_works.pug
		include ./../sections/_responsive.pug
		include ./../sections/_skills.pug
		include ./../sections/_blog.pug
		include ./../sections/_clients.pug
		include ./../sections/_contacts.pug
		include ./../sections/_footer.pug

		script(src="js/jquery.js")
		script(src="js/owl.carousel.js")
		script(src="js/classList.js")
		script(src="js/svg.js")
		script(src="js/script.js")